<div class="container">
  
  <div class="text-center">
    <img id="burger-img" src="/assets/images/burger1.png">
    <h1>Sequelized Burger</h1>

      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <input type="text" id="ca" name="burger_name">
          <input type="submit" id="add-burger" value="Place Order">
        </div>
      </form>
  </div>


  <div class="row">

    <div class="col-lg-6">
      <h2>Order List</h2>

      <ul class="list-group">
          {{#each burgers}}
          {{#unless this.devoured}}
          <li class="list-group-item">
            <h2>{{this.burger_name}}</h2>

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <input type="submit" id="devour-burger" value="Devour it!">
              {{!-- <button class="btn btn-danger" type="submit">Devour it!</button> --}}
            </form>
          </li>
          {{/unless}}
          {{/each}}
      </ul>
    </div>

    <div class="col-lg-6">
      <h2>Devoured</h2>

      <ul class="list-group">
            {{#each burgers}}
            {{#if this.devoured}}
            <li class="list-group-item">
             <h2>{{this.burger_name}}</h2>

             <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <input type="submit" id="order-burger" value="Order again">
              {{!-- <button class="btn btn-primary" type="submit">Order again</button> --}}
             </form>
            </li>
            {{/if}}
            {{/each}}
          </ul>
    </div>
  </div>

  


</div>

<!-- borders -->
<div id="top"></div>
<div id="bottom"></div>
<div id="left"></div>
<div id="right"></div>









